#content {
  display: flex;
  flex-direction: row; /* Ändert das Layout auf nebeneinander */
  justify-content: space-between; /* Sorgt dafür, dass die beiden Bereiche (Diagramm und Filter) den gesamten Raum einnehmen */
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

#chart {
  width: 75%; /* Das Diagramm nimmt 75% des Platzes ein */
  height: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Abstand zwischen Diagramm und Filter */
  overflow: auto;
}

#filters {
  width: 20%; /* Der Filterbereich nimmt 20% des Platzes ein */
  height: 50px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#filters label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

#gender-select {
  width: 100%; /* Filter breitet sich vollständig aus */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}
